* {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
}
table{
    border-collapse: collapse;
}
table th{

    background-color: lightgray;
border-width: 3px;
}
th, td{

    padding: 25px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}